# Copy into secrets/fluxer-env.age (agenix -e secrets/fluxer-env.age).
# Do not commit the filled file.
#
# VAPID (local P-256, same recipe as Fluxer's install.sh). Retry if the
# header check is not 30770201010420 (short scalar; LibreSSL can also
# produce a well-formed but rejected key). Private should be 43 chars,
# public 87.
#   openssl ecparam -name prime256v1 -genkey -noout -out vapid.pem
#   openssl ec -in vapid.pem -outform DER | od -An -tx1 -N7 | tr -d ' \n'
#   openssl ec -in vapid.pem -outform DER | tail -c +8 | head -c 32 \
#     | openssl base64 -A | tr '+/' '-_' | tr -d '='
#   openssl ec -in vapid.pem -pubout -outform DER | tail -c 65 \
#     | openssl base64 -A | tr '+/' '-_' | tr -d '='
#   shred -u vapid.pem
#
# Other secrets: openssl rand -hex 32
# FLUXER_MEDIA_PROXY_UPLOAD_RELAY_SECRET_BASE64: openssl rand -base64 32

POSTGRES_PASSWORD=CHANGE_ME
MEILI_MASTER_KEY=CHANGE_ME

FLUXER_S3_ACCESS_KEY=fluxer
FLUXER_S3_SECRET_KEY=CHANGE_ME

FLUXER_SUDO_MODE_SECRET=CHANGE_ME
FLUXER_CONNECTION_INITIATION_SECRET=CHANGE_ME
FLUXER_GATEWAY_RPC_AUTH_TOKEN=CHANGE_ME
FLUXER_ERLANG_COOKIE=CHANGE_ME
FLUXER_MEDIA_PROXY_SECRET_KEY=CHANGE_ME
FLUXER_MEDIA_PROXY_UPLOAD_RELAY_SECRET_BASE64=CHANGE_ME
FLUXER_ADMIN_SECRET_KEY_BASE=CHANGE_ME
FLUXER_ADMIN_OAUTH_CLIENT_SECRET=CHANGE_ME

FLUXER_VAPID_PUBLIC_KEY=CHANGE_ME
FLUXER_VAPID_PRIVATE_KEY=CHANGE_ME

LIVEKIT_API_KEY=fluxer
LIVEKIT_API_SECRET=CHANGE_ME
